.searchWrapper {
  margin-bottom: var(--mantine-spacing-xl);
}

.selectedFilters {
  margin-top: var(--mantine-spacing-md);
}

.searchBar, .selectedFilters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  gap: var(--mantine-spacing-md);
}

.searchBar> :first-child {
  flex-grow: 1
}