@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 20%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 20%;
    --popover: 0 0% 95%;
    --popover-foreground: 0 0% 20%;
    --primary: 210 30% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 10% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 90%;
    --muted-foreground: 0 0% 30%;
    --accent: 200 100% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 80% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 80%;
    --input: 0 0% 100%;
    --ring: 200 40% 50%;
    --chart1: 220 100% 50%;
    --chart2: 140 100% 40%;
    --chart3: 30 100% 50%;
    --chart4: 360 100% 40%;
    --chart5: 240 100% 50%;

    --radius: 0.5rem;
  }


  .dark {
    --background: 210 10% 15%;
    --foreground: 210 100% 95%;
    --card: 210 10% 20%;
    --card-foreground: 210 100% 95%;
    --popover: 210 10% 25%;
    --popover-foreground: 210 100% 95%;
    --primary: 210 100% 60%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 90% 40%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 10% 20%;
    --muted-foreground: 210 80% 80%;
    --accent: 210 100% 80%;
    --accent-foreground: 210 10% 20%;
    --destructive: 360 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 50%;
    --input: 210 10% 20%;
    --ring: 210 100% 60%;
    --chart1: 210 100% 60%;
    --chart2: 210 90% 40%;
    --chart3: 210 100% 80%;
    --chart4: 360 100% 50%;
    --chart5: 30 100% 50%;
    --chart-1: 210 100% 60%;
    --chart-2: 210 90% 40%;
    --chart-3: 210 100% 80%;
    --chart-4: 360 100% 50%;
    --chart-5: 30 100% 50%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}